/* import font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans");
@import url("https://fonts.googleapis.com/css2?family=Eczar");

* {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #4e5e80;
  border-radius: 6px;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ffeed9;
}

a {
  text-decoration: none;
}

navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  margin-left: 50px;
  width: 100%;
  position:sticky;
  top : 0px;
  background: #ffddbf;
  z-index: 10;
}

.logo img {
  width: auto;
  height: 38.9px;
}

.nav__items ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;

  width: 394px;
  height: 30px;

  flex: none;
}

.nav__items li {
  list-style: none;
}

.nav__items a {
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  color: #594f43;

  /* Inside auto layout */

  flex: none;
}

.users__items {
  /* users__items */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  margin-right: 70px;
  /* Inside auto layout */

  flex: none;
}

.users__items .notification img {
  width: 40px;
  height: 40px;

  flex: none;
}

.sign__button a button {
  /* sign__button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 112px;
  height: 35px;

  background: #4e5e80;
  border-radius: 16px;
  border-color: transparent;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-decoration: none;

  color: #f3f2ff;

  /* Inside auto layout */

  flex: none;
}

.events__cards {
  /* testimonial__groups */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 8px 80px;
  gap: 40px;

  position:static;
  width: 100%;
  height: 595px;
}

.events__logo img {
  /* animisc 1 */

  width: 100%;
  height: auto;

  /* Inside auto layout */

  flex: none;
}

.events__titles .p1 {
  width: auto;
  height: 50px;
  font-family: "Eczar";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #403930;
  flex: none;
}

.events__titles .p2 {
  width: 784px;
  height: 30px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;

  text-align: center;

  color: #594f43;

  flex: none;
}

.time__cards {
  /* testimonial__text */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;

  width: auto;
  height: 125px;

  /* Inside auto layout */

  flex: none;
}

.time__boxs {
  /* start__button */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;

  width: 80px;
  height: 100px;

  background: #4e5e80;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
}
.counter {
  /* 00 */

  width: auto;
  height: 72px;

  font-family: "Eczar";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  /* identical to box height, or 72px */

  color: #f3f2ff;

  /* Inside auto layout */

  flex: none;
}
.time {
  /* days */

  width: auto;
  height: 36px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  /* identical to box height, or 36px */

  color: #f3f2ff;

  /* Inside auto layout */

  flex: none;
}

.guest__groups {
  /* home__groups */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 69px 112px 88px;

  position:static;
  width: auto;
  height: 536px;

  left: -2px;
  background: #ffe5cc;
}

.guest__title {
  /* home__text */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;

  width: 100%;
  height: 66px;

  /* Inside auto layout */

  flex: none;
}

.guest__title p {
  /* Our Guest */

  width: auto;
  height: 50px;

  font-family: "Eczar";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  /* identical to box height, or 50px */

  letter-spacing: 0.02em;

  color: #403930;

  /* Inside auto layout */

  flex: none;
}

.guest__cards {
  /* home__text */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 8px 8px 0px;
  gap: 50px;

  width: 100%;
  height: 370px;

  /* Inside auto layout */

  flex: none;
}

.guest__boxs {
  /* events__groups */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 5px;

  width: 300px;
  height: 354px;

  background: #fff9f2;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
}
.guest__images img {
  /* yoasobi 1 */

  width: 220px;
  height: 220px;

  border-radius: 40%;
  overflow: auto;
  /* Inside auto layout */

  flex: none;
}

.guest__names {
  /* events__text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;

  width: auto;
  height: 89px;

  /* Inside auto layout */

  flex: none;
}

.guest__names .p1 {
  /* YOASOBI */

  width: auto;
  height: 48px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #403930;

  /* Inside auto layout */

  flex: none;
}

.guest__names .p2 {
  width: 205px;
  height: 36px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #594f43;

  /* Inside auto layout */

  flex: none;
}

.specialguest__groups {
  /* testimonial__groups */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 8px 80px;
  gap: 5px;

  position:static;
  width: auto;
  height: 841px;
}

.specialguest__title {
  /* home__text */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;

  width: 100%;
  height: 66px;

  /* Inside auto layout */

  flex: none;
}

.specialguest__title p {
  /* Special Guest Star */

  width: auto;
  height: 50px;

  font-family: "Eczar";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  /* identical to box height, or 50px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #403930;

  /* Inside auto layout */

  flex: none;
}

.specialguest__cards {
  /* home__text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 8px 0px;
  gap: 5px;

  width: 100%;
  height: 648px;

  /* Inside auto layout */

  flex: none;
}
.specialguest__boxs {
  /* events__groups */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 5px;

  width: 100%;
  height: 543px;

  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
}
.specialguest__images img {
  /* minasa ikirawa 1 */

  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 20px;
  /* Inside auto layout */

  flex: none;
}

.specialguest__names {
  /* Minasa Ikirawa */

  width: auto;
  height: 48px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  /* identical to box height, or 48px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #4e5e80;

  /* Inside auto layout */

  flex: none;
}

.buy__buttons {
  /* buy__button */
  box-sizing: border-box;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 10px;
  gap: 10px;

  width: fit-content;
  height: 70px;

  background: #4e5e80;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
}

.buy__buttons img {
  height: 50px;
}

.buy__buttons a button {
  /* Get Started */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  color: #f3f2ff;
  background-color: transparent;
  border-color: transparent;

  /* Inside auto layout */

  flex: none;
}

footer {
  /* footer */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

  position:static;
  width: 100%;
  height: 60px;
  bottom: 0px;

  background: #ffddbf;
}

footer p {
  /* copyright */
  height: 30px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  color: #594f43;

  /* Inside auto layout */

  flex: none;
}

.love {
  color: #d40202;
  scale: 2;
}
